doctype html
html
    head
        meta(charset='utf-8')
        title= title
        //adds= adds
        link(rel="stylesheet", href="/public/css/w3.css")
        link(rel="stylesheet", href="/public/css/auto-trade.css")
        link(rel="stylesheet", href="/public/css/advertisment.css")
        link(rel="stylesheet", href="https://fonts.cdnfonts.com/css/julius-sans-one")
        link(rel="stylesheet" href='/font-awesome-4.7.0/css/font-awesome.min.css')
        script(src='/public/js/jquery.min.js')
        script(src="/public/js/auto-filter.js")


    body(style='background-color: #1F2833')
    if status == "Продавец" || status == "Покупатель"
        include navbar.pug
    else if status == "Администратор"
        include navbar-admin.pug
    block content
        .date-watch-info
            p Дата создания: #{data.create_date}
            p Дата изменения: #{data.edit_date}
            .watched
                i.fa.fa-eye.fa-2x(style="color:#66FCF1; font-size: 16px")
                p #{data.view}
        .all-info
            .photo-params
                .photo-price-buy
                    img(src=data.photo)
                    p #{data.price} Р
                    if status === "Покупатель"
                        form(action="/dialog", method="GET")
                            button(type="submit") Купить
                    else if status === "Продавец"
                        .change
                            form(action="/change_advert", method="GET")
                                button(type="submit") Редактировать
                            .delete
                                button(type= 'button', onclick=`deleteUser("${data.ad_id}");`)
                                    i.fa.fa-trash.fa-2x
                    else if status === "Администратор"
                        .delete(style="margin:0;")
                            button(type= 'button', onclick=`deleteUser("${data.ad_id}");`)
                                i.fa.fa-trash.fa-2x
                .params
                    p Марка: #{data.brand}
                    p Модель: #{data.model}
                    p Год: #{data.year}
                    p Цвет: #{data.color}
                    p Кузов: #{data.body}
                    p Пробег: #{data.mileage}
                    p Двигатель: #{data.engine}
                    p Коробка: #{data.transmission}
                    p Привод: #{data.drive}
                    p Руль: #{data.helm}
            .seller
                a(href=`/user/${id}`) #{name}
                p #{rating}

script.
    function deleteUser(id){
        let conf = confirm(`Вы действительно хотите удалить выбранное объявление?`);
        if(conf){
            $.ajax({
    url: `/delete_advert/${id}`,
        type: 'get',
        complete: function() {
        window.location.href = '/main';
    }
    });

    }
    }