ul.menus-filter
    li(style='--delay: 1;', tabindex='0').dropdown-el
        button(type="button").drop
            span.name-filter(title='Марка') #{filter_data[0]}
            span.arrow
        ul.dropdown()
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Mercedes
            li
                a(onclick="filter(this)") BMW
            li
                a(onclick="filter(this)") Toyota

    li(style='--delay: 2;', tabindex='0').dropdown-el
        button(type="button").drop
            span.name-filter(title='Модель') #{filter_data[1]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") AMG-GT
            li
                a(onclick="filter(this)") Land Cruiser
            li
                a(onclick="filter(this)") GLC

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button(type="button").drop
            span(title='Год') #{filter_data[2]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                input.w3-round-large(type='number', id='year', min=0)


    li(style='--delay: 3;', tabindex='0').dropdown-el
        button(type="button").drop
            span.name-filter(title='Цвет') #{filter_data[3]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Красный
            li
                a(onclick="filter(this)") Черный
            li
                a(onclick="filter(this)") Синий

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button(type="button").drop
            span.name-filter(title='Кузов') #{filter_data[4]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Седан
            li
                a(onclick="filter(this)") Купе
            li
                a(onclick="filter(this)") Внедорожник

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button(type="button").drop
            span(title='Пробег') #{filter_data[5]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                input.w3-round-large(type='number', id='mileage', min=0)

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button(type="button").drop
            span.name-filter(title='Двигатель') #{filter_data[6]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Бензин
            li
                a(onclick="filter(this)") Дизель

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button(type="button").drop
            span.name-filter(title='Коробка') #{filter_data[7]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Автомат
            li
                a(onclick="filter(this)") Механика

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button(type="button").drop
            span.name-filter(title='Привод') #{filter_data[8]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Передний
            li
                a(onclick="filter(this)") Задний
            li
                a(onclick="filter(this)") Полный

    li(style='--delay: 3;', tabindex='0').dropdown-el
        button(type="button").drop
            span.name-filter(title='Руль') #{filter_data[9]}
            span.arrow
        ul.dropdown
            li
                a(onclick="filter(this)") Очистить
            li
                a(onclick="filter(this)") Правый
            li
                a(onclick="filter(this)") Левый
    button.w3-button.w3-center.w3-hover-aqua.send-filter(id="submitButton") Отправить форму

script.
    $(document).ready(function () {
        $('#submitButton').on('click', function () {
            let filter = this.closest(".menus-filter")
            let data = filter.getElementsByClassName('name-filter')
            let year = document.getElementById('year')
            let mileage = document.getElementById('mileage')
            // console.log(data)
            // db_dataset['Год'] = year.value
            // db_dataset['Пробег'] = mileage.value

            data = {
                filter_brand: data[0].innerHTML,
                filter_model: data[1].innerHTML,
                filter_year: year.value,
                filter_color: data[2].innerHTML,
                filter_body: data[3].innerHTML,
                filter_mileage: mileage.value,
                filter_engine: data[4].innerHTML,
                filter_transmission: data[5].innerHTML,
                filter_drive: data[6].innerHTML,
                filter_helm: data[7].innerHTML
            }
            $.post('/mainfilter', data, function (status) {
                console.log(status)
                location.href = '/mainfilter'
            });
        });
    });
//     -
//         for item in db_dataset
//             console.log(item)
//
//
//     //include mixins/one-param-filter
//     //for item in db_dataset
//     //    +one-param-filter(item, db_dataset[item])
// //