extends index

block content
    .infoBook(class='w3-border-red' style='min-height: 300px;')
        .imgbook
            img(src='/public/img/bookdefault.jpg' style='width: 100%')
        .textBox
            h3 Book name: #{name}
            h4 Author: #{author}
            h4 Year: #{year}
            h6 Briefly: #{briefly}
            h6 In library: #{inLibrary}
            if (reader)
                h6 Reader: #{reader}
                h6 Return Date: #{returnDate}
    p
    div(class="w3-container w3-center")
        if inLibrary === "yes"
            button(class ="w3-button w3-white w3-border w3-border-purple w3-hover-purple"
                onclick="document.getElementById('id01').style.display='block'" style="margin-left: 10px") Order book

            #id01(class="w3-modal w3-animate-opacity")
                div(class="w3-modal-content w3-card-4")
                    header(class="w3-container w3-teal")
                        span(onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-large w3-display-topright fa fa-times-circle" aria-hidden="true")
                        h2 Order book
                    div(class="w3-container")
                        form(action="reader/" + id method="POST" style="margin: 10px")
                            p Reader:
                            input(required name="name")
                            p Return date:
                            input(required type="date" name="year")
                            p
                            button(class="w3-button w3-white w3-border w3-border-purple w3-hover-purple"
                                type="submit") Order book

        else
            form(action="backBook/" + id method="POST" style="margin: 10px")
                button(class="w3-button w3-white w3-border w3-border-purple w3-hover-purple"
                    type="submit") Return book

        include mixins/modal
        +dialMod('edit', 'Edit book', 'edit/' + id, name, author, year, briefly)
