h1(style='color: #66FCF1;') Мои диалоги
.reviews-div
    .reviews(style='height: 100%;')
        // for item in dialogs
        //     .review
        //         p #{item.name} #{item.mark} #{item.model} #{item.year}
        //         p #{item.name}: #{item.comment}

        - for (var i = 0; i < 20; ++i)
            .review
                p Андрей Mercedes AMG-GT 2018
