h1(style='color: #66FCF1;') Мои диалоги
.reviews-div
    .reviews(style='height: 100%;')
        for item in dialogs
            .review
                //form(action=`/dialog/${item.dialog_id}`, method="GET")
                //    button.w3-button.w3-hover-aqua.review-btn(type="submit") #{item.name} #{item.ad[0]} #{item.ad[1]} #{item.ad[2]}
                //p #{item.name} #{item.ad[0]} #{item.ad[1]} #{item.ad[2]}
                a(href=`/dialog/${item.dialog_id}`) #{item.name} #{item.ad[0]} #{item.ad[1]} #{item.ad[2]}

