h1(style='color: #66FCF1;') Отзывы
.reviews-div
    - height = ''
    if status_account == "Мой"
        - height = 'height: 100%;'
    .reviews(style=height)
        for item in reviews
            .review
                p #{item.mark}/5
                p #{item.name}: #{item.text}

    if status_account != "Мой" && status == "Пользователь"
        form(action=`/user/review/${user_id}`, method="GET")
            button.w3-button.w3-hover-aqua.review-btn(type="submit") Оставить отзыв
