mixin arrAdds(item)

    h5 #{item.name}

    //a(href = "add/" + item._id, id=item._id)
    //    h5 Author: #{item.name}
        //
        //img.(src='/public/img/bookdefault.jpg')
        //h4 Book name: #{item.name}
        //h5 Author: #{item.author}
        //h5 Year: #{item.year}